html {
    display: table;
    width: 100%;
  }
  
  body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #444;
    background-color: #000000;
    perspective: 1000;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  canvas {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
  
  button {
    font: inherit;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 8px 16px;
    color: #000000;
    text-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.15);
    background-color: #ffff00;
    background-image: linear-gradient(#ffff00, #ffff00);
    box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.15);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease-out;
  }
  
  button:hover {
    transform: scale(1.10);
    background-image: linear-gradient(#f8f89b, #f8f89b);
  }
  
  button:active {
    transform: scale(0.95);
    opacity: 0.5;
  }
  
  audio {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .social-icons {
    position: absolute;
    top: 35px;
    right: 35px;
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.social-icon {
  transition: transform 0.3s ease; /* Smooth transition */
}

.social-icon:hover {
  transform: scale(1.10); /* Scale up by 5% on hover */
}
  
  @keyframes Cue-In {
    0% {
      opacity: 0;
      transform: scale(0.1) rotateX(45deg);
    }
    100% {
      transform: scale(1) rotateX(0);
    }
  }
  
  .cue-in {
    animation: Cue-In 2s ease-in-out;
  }
  